@import url('https://fonts.googleapis.com/css?family=Livvic|PT+Sans+Narrow&display=swap');
body{
  background-image: linear-gradient(rgb(163, 183, 247),rgb(115, 193, 219));

}
 header img{
 border-radius: 8px;
 height: 200px;
 display: block;
  margin-left: auto;
  margin-right: auto;
  }
  h3{
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    text-shadow: 0 0 3px #FF0000;
    color: white;
  }
h1{
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  text-shadow: 0 0 3px #FF0000;
  color: white;
}
h2{
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  text-shadow: 0 0 3px #FF0000;
  color: white;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu{
  background-color:#366ECE;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  border-radius: 8px;
  font-family: 'PT Sans Narrow', sans-serif;
  padding: 20px 20px;
  text-shadow: 0 0 3px #FF0000;
  font-size: 0.7em;


}

header{
  background-color: #1A4EA6;
  border-radius: 8px;
}
p{
  text-align: center;
  font-size: 1.4em;
  font-family: 'PT Sans Narrow', sans-serif;
  color:whitesmoke;
  
}
a{
  text-decoration: none;
  color: white;

}
header li :hover{
  background-color: lightblue;
  padding: 8px 8px;
  border-radius: 8px;
}
.apply {
  text-align: center;
  margin: 2em 0;
  font-size: 1.4em;
  text-shadow: 0 0 3px #FF0000;
}
.apply a {
 background-color: #366ECE;
 padding: 0.25em 0.5em;
 border-radius: 8px;
}

.pic img{
  max-width: 100%;
  text-align: center;
  border-radius: 30px;
  margin-left: 0.5em;
}
.overview{
  font-family: 'PT Sans Narrow', sans-serif;
  color: black;
  
}
.program{
  font-size: 1.2em;
  text-shadow: 0 0 5px black;
  color: white;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: 'PT Sans Narrow', sans-serif;
}
.description{
  font-family: 'PT Sans Narrow', sans-serif;
  color: black;
  
}
.code{
  font-size: 1.2em;
  text-shadow: 0 0 5px black;
  color: white;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: 'PT Sans Narrow', sans-serif;
}
.title{
  font-family: 'PT Sans Narrow', sans-serif;
  color: black;
  
}
.school{
  font-size: 1.2em;
  text-shadow: 0 0 5px black;
  color: white;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: 'PT Sans Narrow', sans-serif;
}
.detail{
  font-family: 'PT Sans Narrow', sans-serif;
  color: black;
  
}
.location{
  font-size: 1.2em;
  text-shadow: 0 0 5px black;
  color: white;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: 'PT Sans Narrow', sans-serif;
}
  .time{
    font-family: 'PT Sans Narrow', sans-serif;
    color: black;
    
  }
  .duration{
    font-size: 1.2em;
    text-shadow: 0 0 5px black;
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'PT Sans Narrow', sans-serif;
  }
  .diploma{
    font-family: 'PT Sans Narrow', sans-serif;
    color: black;
    
  }
  .credential{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.2em;
    text-shadow: 0 0 5px black;
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
  }
  .information{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    
  }
  .footerlist{
    background-color: #1A4EA6;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr   ;
    color: whitesmoke;
    padding: 20px 20px;
    margin: 10px 10px;
    border-radius: 10px;
  }